/* POLICE */
@font-face {
    font-family: 'droidsans-webfont';
    src: url('droidsans-webfont.eot');
    src: url('droidsans-webfont.svg');
    src: url('droidsans-webfont.ttf');
    src: url('droidsans-webfont.woff');
}

body {
font-family: 'droidsans-webfont', Arial, Helvetica, sans-serif
}

#bloc-page {
    width: 900px;
    margin: auto;
    }

/* COULEURS TITRES */
h1 {
    color: #d5f31f;
    font-size: xx-large;
    }

h2 {
color: #029d5b;
text-align: center;
font-size: xx-large;
}

/* HEADER */
header {
display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#logo {
    color: rgb(29, 87, 28);
    font-weight: bold;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    width: 59px;
    height: 60px;
    }

nav ul {
list-style-type: none;
display: flex;
text-align: left;
    }

nav li {
margin-right: 15px;
    }

nav a {
font-weight: bold;
color: #1C2126;
text-decoration: none;
    }

/* IMAGE PRINCIPALE */    
#image-principale {
    text-align: center;
    }

#image-principale-texte {
    text-align: right;
    }

/* EQUIPE */
.container-principal-equipe {
    text-align: center;
    font-weight: bold;
    }

.container-description-equipe {
    text-align: center;
    font-weight: bold;
    color: #1C2126;
    }

.container-images-equipe {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    }

.container-noms-equipe {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    color: #1C2126;
    }

.container-description-noms-equipe {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    color: #565E65;
    }

/* SERVICES */

.container-principal-services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }


.container-images-services {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    }

.container-service-1 {
    font-weight: bold;  
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    }

/* CHIFFRES */
.container-chiffres {
    background-color: #053B44;
    }

.container-chiffres-1 {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    }

.container-chiffres-2 {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    color: white;
    }

/* CONTACTS */
.container-principal-contact {
    text-align: center;
    font-weight: bold;
    }

.container-description-contact {
    text-align: center;
    font-weight: bold;
    }

/* A PROPOS */
.container-a-propos-principal {
    border: 1px solid black ;
    padding: 6px;
    border-radius: 10px;
    }

.container-texte-principal-1 {
    font-weight: bold;
    text-align: center
    }
.container-texte-principal-2 {
    color: #565E65;
    text-align: center
    }

.container-image-a-propos {
    display: flex;
    justify-content: space-evenly;
    }

.container-description-image-a-propos {
    display: flex;
    justify-content: left;
    color: #053B44;
    font-weight: bold;
    }

.container-global-a-propos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }

/* GALERIE */
.container-description-galerie {
    text-align: center;
    font-weight: bold;
    }

.container-image-galerie {
    text-align: center;
    }

/* CONTACTS */
.container-contact-titres {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    }
        
.container-contact-sous-titres {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    }

.container-pied {
    text-align: left;
    color: white;
    background-color: #053B44;
    }