/* POLICE */
@font-face {
    font-family: 'droidsans-webfont';
    src: url('droidsans-webfont.eot');
    src: url('droidsans-webfont.svg');
    src: url('droidsans-webfont.ttf');
    src: url('droidsans-webfont.woff');
}

body {
font-family: 'droidsans-webfont', Arial, Helvetica, sans-serif
}

/* COULEURS */
h2 {
color: #029d5b;
text-align: center;
font-size: xx-large;
}

h1 {
    color: #d5f31f;
    font-size: xx-large;
    }

/* HEADER */
.navigation-1 {
    text-align: left;
    color: rgb(29, 87, 28);
    font-weight: bold;
    font-size: x-large;
    }

.navigation-2 {
    text-align: right;
    font-weight: bold;
    }

/* IMAGE PRINCIPALE */    
.image-principale {
    text-align: center;
    }

.image-principale-texte {
    text-align: right;
    }

/* EQUIPE */
.container-principal-equipe {
    text-align: center;
    font-weight: bold;
    }

.container-description-equipe {
    text-align: center;
    font-weight: bold;
    color: #1C2126;
    }

.container-images-equipe {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    }

.container-noms-equipe {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    color: #1C2126;
    }

.container-description-noms-equipe {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    color: #565E65;
    }

/* SERVICES */
.container-images-services {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    }

.container-service-1 {
    font-weight: bold;  
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    }

/* CHIFFRES */
.container-chiffres {
    background-color: #053B44;
    }

.container-chiffres-1 {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    }

.container-chiffres-2 {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    color: white;
    }

/* CONTACTS */
.container-principal-contact {
    text-align: center;
    font-weight: bold;
    }

.container-description-contact {
    text-align: center;
    font-weight: bold;
    }

/* A PROPOS */
.container-texte-principal {
    border: 1px solid black ;
    padding: 6px;
    border-radius: 10px;
    }

.container-a-propos-principal {
    border: 1px solid black ;
    padding: 6px;
    border-radius: 10px;
    }

.container-texte-principal-1 {
    font-weight: bold;
    }

.container-image-a-propos {
    display: flex;
    justify-content: space-evenly;
    }

.container-description-image-a-propos {
    display: flex;
    justify-content: left;
    }

.container-global-a-propos {
    display: flex;
    justify-content: space-evenly;
    }

/* GALERIE */
.container-description-galerie {
    text-align: center;
    font-weight: bold;
    }

.container-image-galerie {
    text-align: center;
    }

/* CONTACTS */
.container-contact-titres {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    }
        
.container-contact-sous-titres {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    }